# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Terraform - htt_ps://terraform.io/
.terraform
*.tfstate
terraform.tfstate.backup
*.log
*.tfstate.lock.info
.terraform.lock.hcl
*.tfvars
### Terraform Patch ###
# End of https://www.gitignore.io/api/terraform
*.backup
*.json
